/* Dashboard.css */
.dashboard-container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    font-family: 'Liter', sans-serif;
    color: #333;
  }
  
  .dashboard-container h1 {
    font-size: 2rem;
    margin-bottom: 20px;
  }
  
  .dashboard-container p {
    font-size: 1.2rem;
    margin-bottom: 30px;
  }
  
  .stations-list {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    margin-bottom: 40px;
  }
  
  .station-card {
    background-color: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 300px;
    text-align: center;
  }
  
  .station-card h2 {
    font-size: 1.5rem;
    margin-bottom: 10px;
  }
  
  .station-card p {
    font-size: 1rem;
    color: #666;
    margin-bottom: 15px;
  }
  
  .manage-button {
    padding: 10px 20px;
    background-color: #5BA97D;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
  }
  
  .manage-button:hover {
    background-color: #3a7755;
  }
  
  .create-station-button {
    padding: 15px 30px;
    background-color: #F6C113;
    color: #333;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1.2rem;
    font-weight: bold;
  }
  
  .create-station-button:hover {
    background-color: #e0a800;
  }
  
  /* Responsividade */
  @media (max-width: 768px) {
    .dashboard-container h1 {
      font-size: 2rem;
    }
  
    .dashboard-container p {
      font-size: 1rem;
    }
  
    .station-card {
      width: 100%;
    }
  
    .create-station-button {
      width: 100%;
    }
  }