.home-container {
  font-family: 'Segoe UI', sans-serif;
}


/* Features */
.features {
  display: flex;
  justify-content: space-around;
  padding: 60px 10%;
  background-color: #f9f9f9;
  flex-wrap: wrap;
  gap: 30px;
}

.feature-box {
  flex: 1;
  min-width: 250px;
  max-width: 300px;
  background-color: white;
  padding: 15px;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.5);
  text-align: center;
}

.feature-box h3 {
  margin-bottom: 12px;
  font-size: 1.2rem;
  color: #452A66;
}

.text-stl{
  text-decoration: none;
  color: rgb(99, 99, 99);
}

.icon-pasta{
  font-size: 4rem;
  margin: 0;
}


/* Responsivo */
@media (max-width: 768px) {
  .hero {
    flex-direction: column;
    text-align: center;
    gap: 30px;
  }

  .features {
    flex-direction: column;
    align-items: center;
  }
}
