/* Definir a cor de fundo e o texto do header */
.nav-links {
    background-color: #3a7755; 
    color: white;
    padding: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}


.logo-container{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white; 
}

/* Logo */
.logomarcaHeader {
    width: 200px;
    margin: 20px;
}

/* Estilizando os links */
.nav-links a {
    text-decoration: none;
    color: white;
    font-weight: bold;
}

/* Hover nos links */
.nav-links a:hover {
    text-decoration: underline;
}

/* Estilização do ícone de usuário */
.icon-button {
    background: none;
    border: none;
    color: #F6C113;
    cursor: pointer;
    font-size: 20px;
    display: flex;
    align-items: center;
}

.icon-button:hover {
    color: #c0c0c0;
}

